@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.yellow-tiitle{
    color: #124943;
    font-weight: 700;
}
.white-tiitle{
    color: #ffffff;
    font-weight: 700;
}

.subtittle-custom{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #e47b52;
}
.tittle-custom{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: white;
}

.square{
    height: 300px;
    width: 110%;
    background-color: #f9e6dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.square1{
    height: 300px;
    width: 110%;
    background-color: #f4e1d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.square2{
    height: 300px;
    width: 110%;
    background-color: #eddcd4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-square{
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
}
.subTittle{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
    color: white;
}

.boxTittle{
    font-size: 20px;
    color: rgb(0, 0, 0);
    z-index: 9;
    font-family: 'Poppins', sans-serif;
}
.linhaBox{
    height: 5px;
    width: 250px;
    background-color: #e47b52;
    margin: 20px;
}
.boxSubTittle{
    width: 200px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.boxSubTittleBlack{
    width: 300px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.mediaText{
    display: flex;
    flex-direction: column;
}

.boxDescriptionNegrito{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.boxDescription{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.img-custom{
    height: auto;
    width: auto;
}

.bk-color{
    background-color: #124943;
}
.bk-color-white{
    background-color: #ffffff;
}

.row-cta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tittle-footer{
    font-size: 20px;
    color: white;
}
.infos-footer{
    font-size: 14px;
    color: white;
}

.padding-footer{
    padding: 0 5rem;
}

@media screen and (max-width: 414px){
    .text-sm-center {
        text-align: center;
        margin: 15px;
    }
}
@media screen and (max-width: 414px){
    .padding-footer{
        margin: 15px;
    }
}

@media screen and (max-width: 971px){
    .square{
        height: 300px;
        width: auto;
        background-color: #f9e6dc;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .square1{
        height: 300px;
        width: auto;
        background-color: #f4e1d8;
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    .square2{
        height: 300px;
        width: auto;
        background-color: #eddcd4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}